.input-border-animation{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(234, 255, 0);
}
.move{
    transform: translateX(0);
}