footer{
    background-color: var(--footer-bg);
    min-height: 25rem;
    max-height: fit-content;
    color: var(--footer-text);
    position: relative;
    z-index: 1001;
}
footer
.footer-wave{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
}
.animation-theme 
svg{
    width: 100%;
    height: 100%;
    margin-bottom: -2vw;
}
footer 
.rights{
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    transform: translateY(-1rem);
    /* border-block-end: 1px solid var(--bg-input); */
}
footer
.rights
span
span{
    color: var(--footer-highlight-text);
    padding-inline: .5rem;
    margin-inline: .5rem;
    background-color: var(--text-highlighter);
    border-radius: .25rem;
    display: inline;
    height: fit-content;
}