footer{
    background-color: var(--footer-bg);
    min-height: 25rem;
    max-height: fit-content;
}
footer 
.rights{
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    border-block-end: 1px solid var(--bg-input);
}
footer
.rights
span{
    color: var(--color);
    padding-inline: .5rem;
    margin-inline: .5rem;
    background-color: var(--text-highlighter);
    border-radius: .25rem;
}