@keyframes ldio-7mls6c71o {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-7mls6c71o div {
  position: absolute;
  animation: ldio-7mls6c71o 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 7px 0 0 var(--color);
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-wp6nj1dw6lr {
  width: 200px;
  height: 200px;
  transform: scale(.4);
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-7mls6c71o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7mls6c71o div { box-sizing: content-box; }
.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}
