@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('nav.css');
@import url('lib.css');
@import url('scrollbar.css');
@import url('footer.css');
@import url('components.css');
html{
    margin: 0;
    padding: 0;
}
*:has(body[theme='dark']){
    --color: #f4e80c;
    --bg: #323337;
    --text-color: white;
    --text-secondary-color: #d1d0c5;

    --bg-shadow: #222427;
    --bg--1: #585b60;
    --bg-0: #3c3e42;
    --bg-0-5: #2c2e31;
    --bg-1: #27282b;
    --bg-1-5: #222326;
    --bg-2: #212124;
}
*:has(body[theme='white']){
    --color: #BA68C8;
    --bg: white;
    --text-color: white;
    --text-secondary-color: #d1d0c5;
}
body{
    color: var(--text-color);
    background-color: var(--bg);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type='submit']{
    cursor: pointer;
}
.main-body{
    min-height: 80vh;
    max-height: fit-content;
    padding-inline: 5vw;
    padding-block: 1.2rem;
}