@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('nav.css');
@import url('lib.css');
@import url('scrollbar.css');
@import url('footer.css');
@import url('components.css');
@import url('popup-notification.css');
@import url('loading-screen.css');
@import url('responsiveNavigation.css');
@import url('responsive.css');
html{
    margin: 0;
    padding: 0;
}
*{
    transition: background-color 400ms ease-in-out;
}
*:has(body[theme='yellow']){
    --color: #f7ef0a;
    /* --color: #865DFF; */
    --secondary: #5a5a5a;
    --bg: #323337;
    --text-color: white;
    --text-secondary-color: #d1d0c5;

    --bg-shadow: #222427;
    --bg--2: #585b60;
    --bg--1: #3c3e42;
    --bg-card: #27282b;
    --bg-input: #3d3e43;
    --gray-text: rgb(145, 145, 145);
    --bg-2: #212124;

    --footer-bg: #28292d;
    --footer-text: #fff;
    --footer-highlight-text: var(--color);
    --text-highlighter: #202020;

    --popup-bg: #0f0f0f;
}
*:has(body[theme='green']){
    --color: #4ad295;
    --color-dark: #41b883; 
    --bg: #e5e5e5;
    --text-color: black;
    --text-secondary-color: #d1d0c5;

    --box-shadow: #222427;
    --bg--2: #f6f6f6;
    --bg--1: #f0f0f0;
    --bg-card: #ffffff;
    
    --bg-input: #e5e5e5;
    --gray-text: rgb(145, 145, 145);
    --bg-2: #212124;
    
    --footer-bg: var(--color);
    --footer-text: #fff;
    --footer-highlight-text: var(--color);
    --text-highlighter: #171717;

    --popup-bg: #191919;
}
*:has(body[theme='darkGreen']){
    --color: #658864;
    --secondary: #B7B78A;
    --color-dark: #4d694d; 
    --bg: #DDDDDD;
    --text-color: black;
    --onColor: white;
    --text-secondary-color: #d1d0c5;

    --box-shadow: #222427;
    --bg--2: #f6f6f6;
    --bg--1: #f0f0f0;
    --bg-card: #ffffff;
    --bg-card-2: rgba(255, 255, 255, .5);
    --shadow: rgb(197, 197, 197);
    
    --bg-input: #e5e5e5;
    --gray-text: rgb(145, 145, 145);
    --bg-2: #212124;
    
    --footer-bg: var(--color);
    --footer-text: #ffffff;
    --footer-highlight-text: var(--secondary);
    --text-highlighter: #171717;

    --popup-bg: #191919;
}
body{
    color: var(--text-color);
    background-color: var(--bg);
}
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --size: 1rem;
}
input[type='submit']{
    cursor: pointer;
}
.main-body{
    min-height: 80vh;
    max-height: fit-content;
    padding-inline: 5vw;
    padding-block-start: 1.2rem;
    padding-block-end: 1rem;
}