nav{
    width: 100%;
    height: fit-content;
    position: sticky;
    top: -1.2vw;
    background-color: var(--bg);
    z-index: 1000;
}
nav div{
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 5vw;
}
nav div a{
    color: var(--text-color);
}
nav div a span{
    display: block;
    padding: 2.2rem 2rem calc(2.2rem - 1.2vw);
}
.nav-highlight{
    color: var(--color);
}
