@import url('main.css');
.main-body{
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ocr-page-background{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.ocr-page-background svg{
    object-fit: cover;
}
.navigation-bar{
    --size: 15vw;
    width: calc(100% - 2 * var(--size));
    height: 78vh;
    background-color: var(--bg-card-2);
    border-radius: 2.5rem;
    backdrop-filter: blur(16px);
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-rows: 4fr 1fr;
    margin-top: .5rem;
    box-shadow: .1rem .1rem 2rem var(--shadow);
}
.navigation-bar:hover{
    cursor: pointer;
}
.image-input-container{
    display: none;
}
.drag-and-drop-icon-container{
    background-image: url('../../static/images/plus.svg');
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drag-and-drop-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--bg);
}
.drag-and-drop-text-container
div{
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    /* background-color: var(--color); */
    color: var(--color);
    text-align: center;
}
.drag-and-drop-icon-container
img{
    object-fit: contain;
    height: 50vh;
    width: auto;
    background-repeat: no-repeat;
}
/* .drag-and-drop-icon-container
img:last-child{
    display: block;
} */
.content-bar{
    --size: 15vw;
    width: calc(100% - 2 * var(--size));
    min-height: 78vh;
    max-height: fit-content;
    background-color: var(--bg-card-2);
    border-radius: 2.5rem;
    backdrop-filter: blur(16px);
    overflow: hidden;
    position: relative;
    display: none;
    grid-template-rows: 4rem 1fr 6rem;
    margin-top: 1.5rem;
    box-shadow: .1rem .1rem 2rem var(--shadow);
}
.text-header{
    border-bottom: 2px solid var(--bg);
}
.text-content{
    padding: 2rem;
}
.text-file-download-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 2rem;
    padding-block-end: 2rem;
}
.txt-download-link{
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--color);
    color: var(--onColor);
    text-decoration: none;
    display: none;
}
