@import url('blog.css');
@import url('main.css');
@import url('registration.css');
@import url('ocr.css');
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 5vw;
}
.profile-container-main{
    display: grid;
    grid-template-columns: 6fr 4fr;
    width: 90%;
    height: 76vh;
    background-color: var(--bg-card-2);
    padding: 1rem;
    border-radius: 3rem;
}
.profile-container{
    width: 100%;
    height: calc(76vh - 2rem);
    border-inline-end: 1px solid var(--bg);
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 1rem;
}
.first-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.profile-pic-container{
    width: 100%;
    height: fit-content;
    border-radius: 2rem;
    overflow: hidden;
}
.profile-pic{
    display: block;
    width: 100%;
    height: 8rem;
    object-fit: cover;
    background-color: var(--bg);
}
.name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: var(--color);
    color: var(--onColor);
    border-radius: 1.5rem;
    margin-inline-start: .5rem;
}
.username-container{
    display: flex;
    align-items: start;
    padding: .5rem 1rem;
}
.username-content{
    padding: .4rem 1.2rem;
    border-radius: 1rem;
    background-color: var(--secondary);
    color: var(--onColor);
    width: fit-content;
    margin-block-end: .2rem;
    display: inline-block;
    position: relative;
}
.second-container{
    padding: 2rem 1rem;
    overflow-y: scroll;
}
.second-container::-webkit-scrollbar{
    display: none;
}
.second-container
div{
    display: flex;
    align-items: start;
}
.second-container
div
div:nth-child(1){
    padding: .4rem 1.2rem;
    border-radius: 1rem;
    background-color: var(--bg);
    color: var(--text-color);
    width: fit-content;
    margin-block-end: .3rem;
    display: inline-block;
}
.second-container
div
div:nth-child(2){
    padding: .4rem 1.2rem;
    border-radius: 1rem;
    background-color: var(--color);
    color: var(--onColor);
    width: fit-content;
    margin-block-end: .2rem;
    display: inline-block;
    position: relative;
    margin-left: .6rem;
}
.second-container
div
div:nth-child(2)::before{
    content: '';   
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1/1;
    background-color: var(--color);
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    left: -.25rem;
    top: .7rem;
}

.quick-settings-container{
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}
.quick-settings-container
div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--color);
    color: var(--onColor);
    border-radius: 1.6rem;
}
.quick-settings-container
div:hover{
    cursor: pointer;
}
 /* - history container   */
.history-container-main{
    width: 90%;
    background-color: var(--bg-card-2);
    border-radius: 3rem;
    height: fit-content;
    display: block;
    gap: 1rem 2rem;
    margin-block-start: 2rem;
    padding: 1rem 5rem;
}
.content-bar{
    display: block;
    background-color: var(--bg-card-3);
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-block: 1rem;
    width: 100%;
    height: fit-content;
}
.text-header{
    height: 6rem;
}
.text-content{
    overflow: visible;
}
 /* - update profile  */
 .profile-update-container-main{
    width: 90%;
    padding-block: 2rem;
 }
 /* - registration  */
 .registration-form-container{
    width: 100% !important;
    border-radius: 3rem;
    background-color: var(--bg-card-2);
    padding: 2rem 18vw;
 }


 /* ?password update  */
.password-update-container-main
.registration-label{
    width: 100%;
    display: block;
    margin-block-end: .3rem;
}
.password-update-container-main
.registration-input-password{
    width: 100%;
    display: block;
    margin-block-end: 1.5rem;
    background-color: var(--bg-input);
}
.password-update-container-main
.reg-submit-password{
    width: 100%;
    display: block;
    color: var(--onColor);
    margin-block: 2rem 1.5rem;
}
.password-update-container-main{
    width: 90% !important;
    margin-block-end: 2rem;
}
 /* -feedback container  */
.feedback-container-main{
    height: fit-content;
    width: 90%;
    padding: 2rem 18vw;
    background-color: var(--bg-card-2);
    border-radius: 2rem;
}
.feedback-container-main
label{
    display: block;
    width: 100%;
    margin-block-end: .1rem;
}
.feedback-container-main
input,
.feedback-container-main
textarea{
    display: block;
    width: 100%;
    margin-block-end: 1rem;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: var(--bg-input);
    border-radius: .6rem;
    resize: vertical;
}
.feedback-send-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: .6rem;
    padding: .8rem 1.5rem;
    background-color: var(--color);
    color: var(--onColor);
    margin-block-start: 1rem;
}


.list-own-post-container{
    width: 90%;
    padding: 3rem 7vw;
    background-color: var(--bg-card-2);
    border-radius: 3rem;
}
.post-container{
    background-color: var(--bg-card-3);
    box-shadow: .1rem .1rem 2rem var(--shadow);
}
.data-entry-status-red{
    color: red;
    font-size: .8rem;
}
.data-entry-status-green{
    color: rgb(0, 255, 0);
    font-size: .8rem;
}