@import url('main.css');
.registration-container{
    display: flex;
    padding-block-end: 2rem;
}
.registration-container>
div{
    width: 50%;
}
.registration-form-container{
    background-color: var(--bg-card);
    padding: 2rem 4rem;
    border-radius: 1.5rem;
}
.registration-form-container
form
label{
    padding-block: .1rem;
    /* border-block-end: 2px solid var(--color); */
    margin-block: .25rem;
    display: block;
}
.registration-form-container
form
input,
.registration-form-container
form
textarea{
    width: 100%;
    background-color: var(--bg-input);
    margin-block-end: .9rem;
    border-radius: .5rem;
    position: relative;
    resize: vertical;
}
.registration-form-container
form
textarea::-webkit-scrollbar{
    display: none;
}

.reg-submit{
    width: 100%;
    color: var(--bg-card);
    margin-block: 1.5rem;
}
.animation-container{
    display: flex;
    justify-content: center;
    height: fit-content;
    position: sticky;
    top: 4.8rem;
    transform: translateY(.6rem);
}
.animation-container 
div{
    background-repeat: no-repeat;
    width: 80%;
    aspect-ratio: 1/1;
    position: sticky;
    top: 5rem;
}
.realme-label{
    display: inline-block;
    font-size: .8rem;
    color: rgb(36, 36, 36);
    background-color: var(--color);
    position: relative;
    padding: .12em .5em;
    border-radius: .25em;
    transform: translateY(-.2em);
    margin: .35rem .2rem;
}
.gender-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: .5rem;
    overflow: hidden;
    margin-block-end: .9rem;
}
.gender-container button{
    border-radius: 0;
    display: block;
    text-align: center;
    padding-block: .9rem;
    width: 100%;
    background-color: var(--bg-input);
    border: none;
    color: var(--text-color);
    border-inline-end: 1px solid var(--bg-card);
}
.gender-container button:last-child{
    border: none;
}
.gender-container button[selected='true']{
    background-color: var(--color);
    color: var(--bg-card);
}
.password-notifier{
    font-size: .7rem;
    margin-block: .8rem;
    color: var(--gray-text);
    text-align: center;
}
error{
    width: 100%;
    display: block;
    font-size: .7rem;
    color: red;
    transform: translateY(-.6rem);
    margin-inline: .25rem;
}