@import url('../css-admin/adminIndex.css');
.text-content-image{
    width: 100%;
    height: 100%;
    display: block;
    overflow: scroll;
}
.text-content-image::-webkit-scrollbar{
    display: none;
}
.item-image{
    object-fit: contain;
    width: 100%;
    height: fit-content;
}
.text-content-new{
    outline: none;
}
.done-btn{
    padding: .5rem 1.2rem;
    background-color: var(--color);
    color: var(--onColor);
    border-radius: 1rem;
}