{% extends 'components/layout.html' %} {% block links %}
<link rel="stylesheet" href="../static/css/index.css" />
{% endblock links %} {% block body %}
<div class='container-1'>
    <div class='container-1-img-wrapper'>
        <div class='animation-theme' animation='darkGreen'>
            {% include 'animation/darkGreen/landingPage.html' %}
       </div>
       <div class='animation-theme' animation='yellow'>
            {% include 'animation/yellow/landingPage.html' %}
       </div>
    </div>
    <div class='container-1-txt'>
        <customHead>OCR<a href='/ocr'><div class='to-ocr-page-link-container'></div></a></customHead>
        <div class='container-1-txt-content'>
            OCR technology is not just a convenience, it is an enabler. It is the key to converting analog information into digital form, enabling computers to read, search, and edit printed materials as if they were electronic documents.
        </div>
    </div>
</div>
{% endblock body %}
