<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>symbol recoginition</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description"/>
    <link rel='icon' type='image/x-icon' href='favicon.ico'>
    <script src='../static/js/navHighlighter.js' defer></script>
    {% block css %} {% endblock css %} 
  </head>
  <body theme='dark'>
    <nav>
      <div class='nav-wrapper'>
        <a class='no-text-decoration' href='/' id='index-nav-item'><span>home</span></a>
        <a class='no-text-decoration' href='/ocr'id='ocr-nav-item'><span>OCR</span></a>
        <a class='no-text-decoration' href='/blog' id='blog-nav-item'><span>blog</span></a>
        <a class='no-text-decoration' href='/profile' id='profile-nav-item'><span>profile</span></a>
        <a class='no-text-decoration' href='/login' id='login-nav-item'><span>login</span></a>
      </div>
    </nav>
    <div class='main-body'>
      {% block body %} {% endblock body %}
    </div>
  </body>
</html>
