{% extends 'components/layout.html' %} {% block links %}
<link rel="stylesheet" href="../static/css/message.css" />
<script src='../static/js/jquery.js'></script>
<script src='../static/js/message.js' defer></script>
{% endblock links %} {% block body %}
<div class='message-main-container'>
    <div class='user-list-container'>
        <div class='user-search-container'>
            <input class='user-search' placeholder='search...' />
        </div>
        {% for individualData in userData  %}
        <div class='user-data-container' selected='false' id={{individualData['user_id']}}>
            <div class='user-image-container'>
                <img src='./static/uploads/{{individualData['profile_pic']}}'>
            </div>
            <div class='user-name-container'>
                <div class='user-name'>{{individualData['name']}}</div>
                <div class='user-username'>{{individualData['username']}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class='user-chat-container'>
        {% for individualData in userData %}
            <div class='user-chat-container-inside' show='false' id='{{individualData['user_id']}}'>
                <div class='user-chat-list'>
                    {% for chat in chats %}
                    {% if chat['sender_id'] == session.get('user') %}
                        <div class='user-chat-right'>
                            {{chat['text']}}
                        </div>
                    {% else %}
                        <div class='user-chat-left'>
                            {{chat['text']}}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class='message-input-container'>
                    <input class='message-input' placeholder='Enter a message...' id='{{individualData['user_id']}}' />
                    <button class='message-send-btn'></button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}