{% extends 'components/layout.html' %} {% block links %}
<link rel="stylesheet" href="../static/css/ocr.css" />
<script src='static/js/jquery.js'></script>
<script src='static/js/ocr.js' defer></script>
{% endblock links %} {% block body %}
<div class='navigation-bar' id='navigationBar'>
        <div class='image-input-container'>
                <form action='' name='form'>
                        <input type='file' class='image-input' name='imageInput' accept="image/*" />
                </form>
        </div> 
        <div class='drag-and-drop-icon-container'></div>
        <div class='convert-btn-container'><div><button class='convert-btn' type='button'>convert</button></div></div>
</div>
<div class='content-bar'>
        <div class='text-header'></div>
        <div class='text-content' spellcheck='false' contenteditable='true'></div>
        <div class='text-file-download-container'><a class='txt-download-link' download>download (.txt)</a></div>
</div>

{% endblock body %}
