{% extends 'components/layout.html' %} {% block links %}
<link rel="stylesheet" href="../static/css/ocr.css" />
{% endblock links %} {% block body %}
<div class='animation-theme ocr-page-background' animation='darkGreen'>
        {% include 'assets/darkGreen/ocr-page-background.svg' %}
</div>
<div class='animation-theme ocr-page-background' animation='yellow'>
        {% include 'assets/yellow/footerWave.svg' %}
</div>

<div class='navigation-bar'>
    
</div>
<div class='content-bar'>

</div>

{% endblock body %}
