{% extends 'components/layout.html' %} {% block links %}
<link rel="stylesheet" href="../static/css/profile.css" />
<script src='static/js/jquery.js'></script>
<script src='static/js/popup-notification.js'></script>
<script src='static/js/profile.js' defer></script>
<script>
    setTimeout(() => {
        window.history.replaceState({}, document.title, window.location.pathname);
    }, 4000);
</script>
{% endblock links %} {% block body %}
<div class='profile-container-main'>
    <div class='profile-container'>
        <div class='first-container'>
            <span class='profile-pic-container'>
                <img class='profile-pic' src='static/uploads/{{userData[0].profile_pic}}' />
            </span>
            <div>
                <div class='name-container'>{{userData[0].name}}</div>
                 <div class='username-container'>
                    <div class='username-content'>{{userData[0].username}}</div>
                </div>
            </div>
        </div>
        <div class='second-container'>
            <div class='gender-container'>
                <div class='gender-label'>Gender</div>
                <div class='gender-content'>{{userData[0].gender}}</div>
            </div>
            <div class='email-container'>
                <div class='email-label'>Email</div>
                <div class='email-content'>{{userData[0].email}}</div>
            </div>
            <div class='phone-container'>
                <div class='phone-label'>Phone</div>
                <div class='phone-content'>{{userData[0].phone}}</div>
            </div>
            <div class='address-container'>
                <div class='address-label'>Address</div>
                <div class='address-content'>{{ userData[0].address|replace(' ', '<br>')|safe }}</div>
            </div>
        </div>
    </div>
    <div class='quick-settings-container'>
        <div class='history-btn-top'>History</div>
        <div class='update-profile-btn-top'>Update profile</div>
        <div class='update-password-btn-top'>Update password</div>
        <div class='feedback-btn-top'>Feedback</div>
    </div>
</div>
<div class='history-container-main'>
    {% for item in history %}
        <div class='content-bar' id='{{ item.text_id }}'>
        <div class='text-header'>
                <span class='file-name-container'>
                        <input class='file-name-input' placeholder='file name'/>
                </span>
                <span class='tool-box'>
                        <span class='copy'></span>
                            <button class='file-format-container-new'><span class='actualFileFormatNew'>.txt</span><span class='drop-down-arrow'></span></button>
                            <div class='file-format-option-container-new' vis='false'>
                                    <option class='file-format' selected='false'>.txt</option>
                                    <option class='file-format' selected='false'>.html</option>
                                    <option class='file-format' selected='false'>.css</option>
                                    <option class='file-format' selected='false'>.json</option>
                                    <option class='file-format' selected='false'>.xml</option>
                                    <option class='file-format' selected='false'>.csv</option>
                                    <option class='file-format' selected='false'>.md</option>
                                    <option class='file-format' selected='false'>.pdf</option>
                            </div>
                            <span class='share'></span>
                            <div class='share-list-container' vis='false'>
                                    <div class='user-search-container'>
                                    <input class='user-search' placeholder='search...' />
                                    </div>
                                    {% for individualData in ud  %}
                                    <div class='user-data-container' selected='false' id={{individualData['user_id']}}>
                                            <div class='user-image-container'>
                                                    <img src='./static/uploads/{{individualData['profile_pic']}}'>
                                            </div>
                                            <div class='user-name-container'>
                                                    <div class='user-name'>{{individualData['name']}}</div>
                                                    <div class='user-username'>{{individualData['username']}}</div>
                                            </div>
                                    </div>
                                    {% endfor %}
                                    <div class='share-btn-final'></div>
                            </div>
                            <span class='post'></span>
                </span>
        </div>
        <div class='text-content' spellcheck='true' contenteditable='true'>{{item.text|replace('\n', '<br>')|safe}}</div>
        <div class='text-file-download-container'>
                    <div class='link-format__container'>
                            <a class='txt-download-link' download>download</a><button class='file-format-container'><span class='actualFileFormat'>.txt</span><span class='drop-down-arrow'></span></button>
                            <div class='file-format-option-container' vis='false'>
                                <option class='file-format' selected='false'>.txt</option>
                                <option class='file-format' selected='false'>.html</option>
                                <option class='file-format' selected='false'>.css</option>
                                <option class='file-format' selected='false'>.json</option>
                                <option class='file-format' selected='false'>.xml</option>
                                <option class='file-format' selected='false'>.csv</option>
                                <option class='file-format' selected='false'>.md</option>
                                <option class='file-format' selected='false'>.pdf</option>
                            </div>
                    </div>
            </div>
    </div>
    {% endfor %}
    </div>
</div>
<div class='profile-update-container-main'>
    <div class="registration-container">
        <div class='registration-form-container'>
            <form action="" class="reg-form" autocomplete='off' spellcheck='false' method='POST'>
                <!-- *name input field  -->
                <label for="name" class="label registration-label name-label">Name</label>
                <input type="text" class="input registration-input name" name="name" value="{{userData[0].name}}">
                <error></error>

                <label for="gender" class="label registration-label gender-label">gender</label>
                <div class='gender-container' id='genderContainer'>
                    <button type='button' class='btn' selected='{{ "true" if userData[0].gender == "male" else "false" }}'>male</button>
                    <button type='button' class='btn' selected='{{ "true" if userData[0].gender == "female" else "false" }}'>female</button>
                    <button type='button' class='btn' selected='{{ "true" if userData[0].gender == "others" else "false" }}'>others</button>

                </div>
                <!-- *address input field  -->
                <label for="" class="label registration-label address-label">Address</label>
                <textarea class="input registration-input address" name="address" rows='3'>{{userData[0].address}}</textarea>
                <error></error>
                <!-- *phone input field  -->
                <label for="phone" class="label registration-label phone-label">Phone</label>
                <input type="text" class="input registration-input phone" name="phone" value="{{userData[0].phone}}">
                <error></error>
                <!-- *email input field  -->
                <label for="email" class="label registration-label email-label">email</label>
                <input type="text" class="input registration-input email" name="email" value="{{userData[0].email}}">
                <error></error>

                <span class='realme-label'>username</span>
                <input type="text" class="input registration-input username" name="username" value="{{userData[0].username}}">
                <error></error>
                <!-- -submit button  -->
                <button type="button" class="btn reg-submit" value="create">update</button>
            </form>
        </div>
    </div>
</div>
<div class='password-update-container-main'>

</div>
<div class='feedback-container-main'>

</div>
{% endblock body %}
