<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home/registration.css">
</head>
<body>
    <div class="registration-container">
        <form action="" class="reg-form">
            <!-- *name input field  -->
            <label for="name" class="registration-label name-label">Name</label>
            <input type="text" class="registration-input name" name="name">
            <!-- *address input field  -->
            <label for="" class="registration-label address-label">Address</label>
            <input type="text" class="registration-input address" name="address">
            <!-- *phone input field  -->
            <label for="phone" class="registration-label phone-label">Phone</label>
            <input type="text" class="registration-input phone" name="phone">
            <!-- *email input field  -->
            <label for="" class="registration-label email-label">email</label>
            <input type="text" class="registration-input email" name="email">
            <!-- *password input field  -->
            <label for="name" class="registration-label password-label">Password</label>
            <input type="text" class="registration-input password" name="password">
            <!-- *confirm password input field  -->
            <label for="" class="registration-label confirm-password-label">Confirm password</label>
            <input type="text" class="registration-input confirm-password" name="confirm-password">
            <!-- -submit button  -->
            <input type="submit" class="reg-submit" value="submit">
        </form>
    </div>
</body>
</html>