{% extends 'deo/components/layout.html' %} {% block links %}
<link rel="stylesheet" href="../static/css-deo/deoIndex.css" />
<script src='../static/js-deo/jquery.js'></script>
<script src='../static/js-deo/popup-notification.js'></script>
<script src='../static/js-deo/deoIndex.js' defer></script>
{% endblock links %} {% block body %}
<div class='ocr-result-container'>
{% for item in dataEntryItems %}
    <div class='content-bar' id='{{ item.text_id }}'>
        <div class='text-header'>
                <span class='file-name-container'>
                        <input class='file-name-input' placeholder='file name'/>
                </span>
                <span class='tool-box'>
                        <button class='done-btn' id='{{ item.text_id }}'>Done</button>
                        <span class='copy'></span>
                </span>
        </div>
        <div class='text-content'>
            <div class='text-content-image'>
                <img class='item-image' src='../static/uploads/{{ item.file_name }}' />
            </div>
            <div class='text-content-new' id='{{ item.text_id }}' spellcheck='true' contenteditable='true'>
                {% for line in item.new_text.split('\n') %}
                    <p>{{ line }}</p>
                {% endfor %}
            </div>
        </div>
        <div class='text-file-download-container'>
            <div class='user-details-container'>
                <span class='user-name_'>{{item.username}}</span>
                <span class='file-created-time_'>{{item.created_time.strftime("%d/%m/%Y, %I:%M %p")}}</span>
                <span class='file-edited-time_'>{{item.last_edited.strftime("%d/%m/%Y, %I:%M %p")}}</span>
            </div>
            <div class='link-format__container'>
                    <a class='txt-download-link' download>download</a><button class='file-format-container'><span class='actualFileFormat'>.txt</span><span class='drop-down-arrow'></span></button>
                    <div class='file-format-option-container' vis='false'>
                        <option class='file-format' selected='false'>.txt</option>
                        <option class='file-format' selected='false'>.html</option>
                        <option class='file-format' selected='false'>.css</option>
                        <option class='file-format' selected='false'>.json</option>
                        <option class='file-format' selected='false'>.xml</option>
                        <option class='file-format' selected='false'>.csv</option>
                        <option class='file-format' selected='false'>.md</option>
                        <option class='file-format' selected='false'>.pdf</option>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock body %}
