<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>symbol recoginition</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script src='../static/js/nav.js' defer></script>
    <script src='../static/js/jquery.js'></script>
    <script src='../static/js/popup-notification.js'></script>
    <script src="../static/js/navHighlighter.js" defer></script>
    <script src='../static/js/themeSetter.js' defer></script>
    {% block links %} {% endblock links %}
  </head>
  <body 
  {% if session['theme'] == 'yellow' %} theme='yellow' {% else %} theme='darkGreen' {% endif %}
  >
    <nav>
      <div class="nav-wrapper">
        <a class="no-text-decoration" href="/" id="nav-item" nav='index'
          ><span>home</span></a
        >
        <a class="no-text-decoration" href="/ocr" id="nav-item" nav='ocr'
          ><span>OCR</span></a
        >
        <a class="no-text-decoration" href="/blog" id="nav-item" nav='blog'
          ><span>blog</span></a
        >
        <a class="no-text-decoration" href="/profile" id="nav-item" nav='profile'
          ><span>profile</span></a
        >
        <a class="no-text-decoration" href="/login" id="nav-item" nav='login'
          ><span>login</span></a
        >
      </div>
      {% if session['theme'] == 'yellow' %}
      <button class='theme-button-day theme-button' themeMode='dark'></button>
       {% else %} 
       <button class='theme-button-night theme-button' themeMode='white'></button>
       {% endif %}
       <button onoff='false' type='button' class='res-nav-button'></button>
    </nav>
    <div class="main-body">
      {% include 'components/loader.html' %}
      {% block body %} {% endblock body %}</div>
      <div class='footer-wave'>
        <div class='animation-theme' animation='darkGreen'>
              {% include 'assets/darkGreen/footerWave.svg' %}
        </div>
        <div class='animation-theme' animation='yellow'>
              {% include 'assets/yellow/footerWave.svg' %}
        </div>
      </div>
    <footer>
      <span class="rights">
        <span>
        2023© all rights reserved by <span>SREYAS</span>. He is a front-end developer working
        for google and meta.
        </span>
      </span>
    </footer>
  </body>
</html>
